#!/usr/bin/env bash

# Export Staged Root
OOD_STAGED_ROOT="<%= session.staged_root %>"
export OOD_STAGED_ROOT

# Set User Defined Working Directory
<%- if context.working_dir.blank? -%>
OOD_WD="$HOME"
<%- else -%>
OOD_WD="<%= context.working_dir.to_s %>"
<%- end -%>
export OOD_WD

# Set the interface type
OOD_JINTERFACE=<%= context.interface.to_s %>
export OOD_JINTERFACE

# Set Submission Type
<%- if not context.sub_type.blank? -%>
OOD_SUBMIT_TYPE="<%= context.sub_type.to_s %>"
export OOD_SUBMIT_TYPE
<%- end -%>

# Set Modules
OOD_MODULES="<%= context.version %>"
export OOD_MODULES

# Set User Environment Setup Script
<%- if not context.env_setup_script.blank? -%>
OOD_ENV_SETUP_SCRIPT="<%= context.env_setup_script.to_s %>"
export OOD_ENV_SETUP_SCRIPT
<%- end -%>

# Set User Defined SIF File
<%- if not context.sif_file.blank? -%>
OOD_SIF="<%= context.sif_file.to_s %>"
export OOD_SIF
<%- end -%>
